<html>
  <head>
    <title>Your cup of Kabli </title>
  </head>
  <body>
    <div>
        <h1><a href="">Your cup of Kabli</a></h1>
    </div>

    <div>
        <p>published: 25.06.2016, 16:39</p>
        <h2><a href="">Dubbel Shot Espresso</a></h2>
        <p> I need to stay awake for this. the brexit made me order a dubbel shot espresso. Something I do not usually do. But I need something that will hit my taste buds as hard as the Brexit vote did to the world.</P>
    </div>

    <div>
        <p>published: 25.06.2016, 16:46</p>
        <h2><a href="">Yet again, innocent blood has been shed</a></h2>
        <p>On June 12, 2016, a gunman killed 49 people and injured 53 others inside Pulse, a gay nightclub in Orlando, Florida, United States. It was both the deadliest mass shooting by a single gunman and the deadliest incident of violence against LGBT people in U.S. history.</p>
    </div>
  </body>
  </html>
  






    <p>Hi there!</p>
    <p>It works!</p>
  </body>
</html>
